<!DOCTYPE html>
<html>
  <head>
    <title>Unix Timestamp</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Get Your Unix Timestamp
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <h2>Welcome to the Unix Timestamp Generator API</h2>
      <div class="usage">
      <h3>Example Usage:</h3>
      <p>
      Pass in the date as Unix Timestamp or Natural Language Date(January 15, 2017) 
      </p>
      <p>
      <a href="https://unix-time-.glitch.me/December%2015,%202015" target="_blank">https://unix-time-.glitch.me/December%2015,%202015</a>
      <br/>
      <a href="https://unix-time-.glitch.me/1450137600" target="_blank">https://unix-time-.glitch.me/1450137600</a>  
      </p>
      </div>
      
      <div class="usage">
        <h3>Example output if date passed is valid</h3>
        - { "unix": 1450137600, "natural": "December 15, 2015" }
      </div>
         
    </main>

    <footer>
       Made by <a href="https://github.com/zamhaq" target="_blank">zamhaq</a>
    </footer>
  </body>
</html>
